/* SOURCE: https://codepen.io/chriddyp/pen/bWLwgP.css */

body {
  margin: 0;
  padding: 0;
  background-color: #191919;
}

h3 {
  font-family: Gill Sans, sans-serif;
  font-variant: petite-caps;
  font-weight: 500;
  padding-top: 2.5%;
  font-size: 36px;
  display: flex;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

.text-p {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  display: flex;
  color: #FAFAFA;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

.fmt-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

.fmt-button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5.0%;
  padding-right: 5.0%;
}

.fmt-checklist {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 5.0%;
  padding-right: 5.0%;
  color: #FFFFFF;
}

.chart-layout {
  height: 100vh;
  width: 100.0%;
}

.four.columns {
  background-color: #000000;
}

.eight.columns {
  background-color: #191919;
}


.row-2 {
  background-color: #191919;
}

@media (min-width: 750px) {

  .four.columns {
    width: 30.6666666667%;
  }

  .eight.columns {
    width: 68.3333333333%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

	

}

/* CREDIT: https://community.plotly.com/t/plotly-6-map-attribution-box-positioning/91228 */
/* The following styles ensure the attribution tag floats above the map and should be removed if the issue is fixed in a future plotly release. */
.maplibregl-ctrl-bottom-right {
  bottom: 10px;
  left: 10px;
}

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right, .maplibregl-ctrl-top-left, .maplibregl-ctrl-top-right {
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.maplibregl-map {
  font: 10px/16px Helvetica Neue,Arial,Helvetica,sans-serif;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.maplibregl-ctrl-attrib-inner {
  background-color: #FEF9F3;
  border-radius: 20px;
}

/*This is necessary to remove spacing below the canvas.*/
.maplibregl-canvas {
  display: block;
}

.maplibregl-ctrl-attrib-button {
  visibility: hidden;
}


.dash-graph--pending {
  visibility: hidden;
}

.loading {
  position: relative;
  margin-top: 75%;
}

.hidethis {
  display: none;
  opacity: 0;
}



.offcanvas-header, .offcanvas-body {
  background-color: #191919;
}

.offcanvas-body {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  display: flex;
  color: #FAFAFA;
}



[class*="primary"] {
  color: #FFFFFF; /* Affects text color */
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  /* background-color: #B1BED2!important; */ /* Affects background color */
  border-color: #B1BED2!important;
}
[class*="primary"]:hover {
    background-color: #2B506F!important;
}


